.container {
	padding: 0 10%;
	margin: auto;
	color: $gray;
	font-family: $sans-serif;
}

.narrow {
	max-width: 760px;
}

.wide {
	max-width: 1280px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}